:root {
    --body-background-color: rgba(10, 10, 10, 0.9);
    --font-size: 2vw;
}

html {
    font-size: var(--font-size);
}

body {
    text-align: center;
    background: var(--body-background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    transition: ease-in-out 200ms;
    cursor: pointer;
}
